body {
  background-color: #e1f5fe;
}

th {
  width: 26.66%;
  &.actions {
    width: 10%;
  }
}

th,
.nav {
  font-weight: normal;
}

.absolute-action-btn {
  position: relative;
}

.absolute-action-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.b-preloader {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  .preloader-wrapper {
    left: 50%;
    top: 50%;
  }
}
