body {
  background-color: #e1f5fe;
}

th {
  width: 26.66%;
  &.actions {
    width: 10%;
  }
}

th,
.nav {
  font-weight: normal;
}

.absolute-action-btn {
  position: relative;
}

.absolute-action-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
